/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
  color: rgb(29,29,31);
  background-color: rgb(255, 255, 255);
  font-style: normal;
  display: block;
}

.button {
  background-color: #0070c9;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.button:hover {
  background-color: #005ba3;
  cursor: pointer;
  text-decoration: none !important;
}


a {
  color: #333;
  text-decoration: none;
}

.social-icons a{
  color: #000;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
}

.navbar-brand {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar-nav {
  display: inline-block;
  float: right;
  margin: 10px;
}

.navbar-nav li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-nav li a {
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color:  #999999;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: #000;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leg {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAAXNSR0IArs4c6QAAAElJREFUKFNjZICC/////4exQTQjIyMjmAYR6JIwhSBFjLMiLP6nLj+OrBnOnh1pyTBSFIA8jS0sQGGQtuIEJDhhipBDCyQJ4gMALug8VaRjkWwAAAAASUVORK5CYII=);
  width: calc(2 * 8px);
  height: calc(2 * 12px);
  background-size: calc(2 * 8px) calc(2 * 12px) !important; 
  transition: 0.15s;
}

.body {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAAwCAYAAACxIqevAAAAAXNSR0IArs4c6QAABSpJREFUeF7tm32a1CAMxqe30pvoAfRQegC9id5qfPBZlGELJOQL2nf/2t0pkPySvA20czzwAwIgAAJBBI6gdbEsCIAACDwgQEgCEACBMAIQoDD0WBgEQAAChBwAARB4fPv04UnF8PXnbzXdUJuIajyuAwEQWINAKTpffvwiG/X988d/10rFCAJExo4LQeA6BJL4cESn5XkSI4kIQYCuk1PwBARIBLTEJy8mESEIEClkuAgErkFAW3ykIgQBukZewQsQIBGAAJEw4SIQAAFtAlbiI+mC0AFpRxnzgcCiBCBAiwYGZvkRGL1vInmi4ufFnitBgPaMG6xWIJCFZ/ToN79jAiFSgF5N8Xw+yS8bzq5+HAdrV8W6eNYojLsvAarw1IQ0X3a7L/1XzyFAyIRbEdBq+dEVydNGKxYjS7jvBKEDGhHF59MEtO+4EKLpUPz9rtdo+zs/+/+RECANiphDTEBbfEqDIoQoFfDZudTZ/3vXZj/quVpjxIF4m+DyAjR6ulGDXPWQkerHqvZrJaxknlWTXepTGl/GPedK/b/0dy0oPYHJn1mK0KoxEW3BZr9NmwK5wiGjxP6czBF3Y0kheYz1SvacRx43g1okzkRjJDo9wcpxsRIhr5i4bcE0HeIaLS2i2SczvXU9faB2aT17LYvWcvt15pMH+1IYer9TOv16PGWMJOc1a5ViByceUx2QhUMcoykQWtdY2F52QxaFbSGYNR/u+xsRfCNvAL1znRzzUQd01uVQx6ya89IbAluAdizgMvDWTwI0hdRDeLSFyDI/RkWoyb5eSypAZdd6dmZkuQXzjgknDrcRIK8gcOD3CsrL3jMbJN1QpN3JF4ntI4Hb9XPvmHBq4BYC5BkADvzVtjHZHkkRe7Ju8ZPYv6vIrHQz49QAS4A8kotjPCVZPGwu7ZDa722vdhGvYL80BmdMemc1nEPl1lYsrdna5lHyHAIkpfQ2XjN5IopBan+EzZrbsBXsl8ZAIkC9s5zRgTMEaCAiHsmllTwetkqfALQS3fqgnHKvmN3GRHHX7EIhQJQMaV/DqWHyFswzsTgOtDB4v4uS7NCw25Nzi53Ujwj2HgJU82o9fm9tp9ABvc84CJBM7F9GSws3J250ByT1I1pEpfZHdUCKqfhuKq+YcNlfUoC8YFvcdSNsr7OVm0QrbiVnt5AtEaAeQvfOgPINJl/j+YVUr7zi5g4ESOm2wwXfS/TdO6CyCCN80YqFUmosMQ0EiBEGaQJ5wc4uSe0t0XjbfhaWnf3RtJ2Rsltcap1bM+zRASmkzgz43rLWiTJy2cKftKZHN6Rt+4jVbp/n95A0Y5GYp5+Z70FCgIQZZJHwkQJk4Y/HlkxSBMIU2HK4hhBpMIcACdNH+7CzLFavrsFiK9k749L0S6MIhCmw9fAZIdJkDgESpI9lt+ApRJoJRcVZfiVhZjsQYTPVtx2vK+Mxsn9mq9WaEwI0ot343EN8yqWlBVu7kQt4du8+ia07jFoEmgVg4QfmpBMgC1Ca0uNsQquwLd/G1bKRHqbXK6mF2pofBTxLHuO0CVxWgKzEMlp8tBMA84FAJIHLCpBFxwbxiUxVrH1FAiwBsijqEqpFgc+c8rfOS7B1uWIJwKdIApcXoAx35hAXT1oiUxNr34EAW4CsuiCL7qcVQOohLjqeO5QAfIwkMCVA2iLkKT6RsLE2CIDAK4FpAcoilKfjvky24nsoSA4QAAFfAiIBKk2lbmvyGGxvfAON1UBgRQJqArSic7AJBEBgbQJ/AOoMmm0ZeBaqAAAAAElFTkSuQmCC);
  width: calc(2 * 6 * 48px);
  height: calc(2 * 48px);
  background-size: calc(2 * 6 * 48px) calc(2 * 48px) !important; 
}

.dog {
  position: absolute;
  width: calc(2 * 48px);
  height: calc(2 * 48px);
  animation: fade-in forwards 1s;
  transition: 0.5s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.head {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALoAAAAgCAYAAACl82LUAAAAAXNSR0IArs4c6QAAA+hJREFUeF7tmtuV1DAMhiddQSdQABS1FACdQFezx4cVR2h1+X1LnJXnaSbjRLfPkhz7eOzP9kACDxwJbNwmbg88bgP6y5dPz++//txG383WWh64BTgF8m8/fz9+fP382LCvBdBdtNmgN0Rqteqymj4NLp1+CwR6rSNrx3tWUjanMVdn9dWqy2r69BJbyw46PgRdOrL8towpbcVox3N5pX0pnwK7/F6u0Wdke0PyqXWydJghuzzT8rdm/0i7e4FtuX8ma1Wgk3M9IwjCEZlXZnMpl8viuhH0FHiCpQYEDjivJlKO9ImU3Rrwcl/kbz7hKQHU2Nii28x7OOiR7TzhIay5oGttg6fAKMdrkGkOtkC3xiIQeLI1+yx/IM6XeqJ2WxOPrh/HESawmcC2PHs2a6pDrJklA21lWBmImqBHWbwmu2r6ebCjstFAjrA78rmlSyTb6m21695Yq2VDe+ezWHsH+uhgczCjjFojuya7IjrUyEZBR9sJS3ZNxaqtYlo7Z12jtRePnwcy/RfBfqbP/wN9luCzQdMWqx50V9pd9JoFemQzB1iDU4Kq/S4yvAngVQOkD69JKnysrGgfHnQKtgwId8qVoEeQR/14BILVwnAAve/y+VpVlvej91wC+uxge1k9q2wkm7eCLquaBBTp0aOMTrpZE4Xs02TPhFxj7V9Gzwrbqna3LkK1iaFl9V7QqZ9vaV2u8PkG/e0cTdQCRP/T+3MvU8nXfl7Ae0H3+tXIltn/b9Ane9jKbCPKqAe6tWt7RcAnuxh6vLcuKQ+oiUfkd2qbUmV0bSPlTNi0Ml8TVIQiHnhvl9rrv2sWl1YLY/Xn5frz+VSPkSBVUfoguodingZ0bwNlFuzRTnGrXCu4vHLwszDRmxIJpda/I9fQxasFujWRNbuQSV/GvAPdm2noQ5Fx1vZ0a9ARmWXMFaCTXNJRA6426PyZ3vGDDfpfry+V0SmjjC7jfBJE5z9mTzTudK7XLLmUBa3daN5yyImIZG+tNUEzemSzthBHr3Hf8uS2zIbRTNijcx/knCgAaPXQxnkTrVeutRNsTa4I0lGge/6qeeNkHYXw3ky5O6MfDbYoq2mBoEw3qrqgOvTKlX17NLnRxShPAlavb7Vm1rt6JLFYfTnSr2u2m6cXizIjgo0GWpbzHvktMiX0PeBZrxORitAjl/fv0QE6RJczxvTaK1uV8luzPTyP3mtsj8PJCXT4CNWlR6aX5RH5I2VrfbSlw0i5iJ2jx1ivKb21BHUgVkXhOt7ugP5oB+/n5fDABj1HnNNbuUFPj0AOB2zQc8Q5vZUb9PQI5HDABj1HnNNbuUFPj0AOB7wCKr30XX1N2MUAAAAASUVORK5CYII=);
  width: calc(2 * 6 * 31px);
  height: calc(2 * 32px);
  background-size: calc(2 * 6 * 31px) calc(2 * 32px) !important; 
}

.head-wrapper.happy > .head {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALoAAAAgCAYAAACl82LUAAAAAXNSR0IArs4c6QAABCpJREFUeF7tmtlx3DAMQFddxZ0kBSS/Hlfi8W9cQNJJ0tV6qAl2YAgnRVBSyP2yJYq4HkHwWG7zNz0wgAeWAWycJk4P3C4D+s+vX+4/fv+9jL6TrXN54BLgFMi///pze//2dJuwnwugq2gzQa+I1Nlml7PpU+HS9E9coEcdGW2vWQnZHNocndXPNrucTZ+9xEbZ8bY3QaeOLP9LxpSyorXjsbxSvpRfgZ3+XZ7Br2V5A/KhdJJ0yJBd+pT8zdnf0u69wNZ8n8laCHRwrmYEQNgi89JsTuViWVg3gB4CD7BEQMCA49mEyqE+obJrA16+s/yNBzwkgIiNNbplfoNBt2zHCc/Dmgo6VzZoCrRyPAcZ52AJdKmtBwJNNmef5A+P86meXrulgQfPl2UxE1gmsDV9Z7PGOkQaWTTQUoalgYgE3crikezK6afB7pXtDWQLuy2fS7pYsqXalnuutZVKNm/t3Iu1Deitg43BtDJqRHYku3p0iMj2gu4tJyTZkRkrOotx5Zz0DNZeOH4ayPDOgr2nzz+BniW4N2jcYlWD7ki7i15ZoFs2Y4A5OCmo3P9FhjYAtNnAU4dHkgpuS2e0/x50CPa6uHt+vb2/vWwOnY4E3YLcqsctEKQSBgOo/U3752Zl+r33m0NAzw62ltV7yF6z/PPrqgaGvYdsK7NyAa8pzWhGw1uQFFBPjW5ldJAnDRSYrTjZmZBzrD0y+pEB7ymbm2p7Ox0Dou3a7NGLlm+tQYd6vqZ06RlvsHs40LOyC+yfa3DSbT8t4LW7LdFFqVX6ZLyfoGd4FfXJ1autnK6BLp3atpJtuc3aarS+b/1eW5esa6l/J+AeuZbfh8zo3EFKT9h6lE048NoptVZ/RxaXUgkj1efl+f1+Z6+ReGZFCr/1DcR8mNJFy2pZsFsnxbVypeDimUNbiHIQagtKbVFZs7UogS5lcM4uT7YvbTagayPN26mnnXQ8XRt0j0xt1wOCGJkuvTJBLm5P1wjRoOM+PQtZz/YiBZnbkfE88+7SRG1uCno2aBBszfFZsOGRLUGaab+0tZk1yHDG1xIL9QW+BOfZpbHA1rYwI3emYHBzF+isfjY1epbTsTOtRVEWbJZc0DFL/iNQSQdWm5Ng5ryAQu2t0bFvLPglsLnkEtlxgkRRzj+s26NSQj3VXZfWgw0ym3XHBgcCFletZhesgwbCXrmfpvdOoEO8wH/WQOAGm1Z+QXs46FsTxtvLo5vIzVHx9mLprUWwj4CtRiYXhFofSNuJntp+L/C4ho8McI9uGW0se3HZB6Bbg4Oz27yPvte4Pc4GJ8DlI68ue2RK0+wRsvHWnSW/tc2WvNbvrW1KbdaQ3mEdL3dBv7WDZ39jeGCCPkach7dygj48AmM4YII+RpyHt3KCPjwCYzhggj5GnIe3coI+PAJjOOADdCQTbGUe9fwAAAAASUVORK5CYII=);
}

.head-wrapper.happy {
  animation: infinite 0.5s pant;
}

@keyframes pant {
  0%, 100% { transform: translateY(-1px); }
  50% { transform: translateY(1px); }
}

.head-wrapper.flip.happy {
  animation: infinite 0.5s pant-flip;
}

@keyframes pant-flip {
  0%, 100% { transform: translateY(-1px) scale(-1, 1); }
  50% { transform: translateY(1px) scale(-1, 1); }
}

.tail {
  position: absolute;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAADZJREFUKFNjZICCWREW/2FsEJ224gQjiAYTIMnU5ceR5RlmR1qCFTFik4SpBCmihwKCjiTkTQB1sCqti9mJ/QAAAABJRU5ErkJggg==);
  width: calc(2 * 8px);
  height: calc(2 * 8px);
  background-size: calc(2 * 8px) !important; 
}

.tail-wrapper {
  position: absolute;
  width: calc(2 * 8px);
  height: calc(2 * 8px);
  transition: 0.15s;
}

.body-wrapper {
  position: absolute;
  width: calc(2 * 48px);
  height: calc(2 * 48px);
  overflow: hidden;
}

.body-wrapper,
.head-wrapper {
  z-index: 1; 
} 

.walk-1 {
  animation: infinite 0.4s walking;
  animation-delay: 0;
}

.walk-2 {
  animation: infinite 0.4s walking;
  animation-delay: 0.2s;
}

@keyframes walking {
  0%, 100% { transform: translateY(-4px); }
  50% { transform: translateY(0); }
}

.wag {
  animation: infinite 0.5s wag;
}

@keyframes wag {
  0%, 100% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
}

.head-wrapper {
  position: absolute;
  top: 6px;
  left: 16px;
  width: calc(2 * 31px);
  height: calc(2 * 32px);
  overflow: hidden;
}

.flip {
  transform: scale(-1, 1);
}

.img-bg {
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
}

.sign {
  position: absolute;
  color: #9a5838;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #9a5838;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #9a5838;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}

.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  z-index: 100;
  margin-top: -5px;
  margin-left: -5px;
}

.red { background-color: rgb(255, 64, 0); }
.green { background-color: rgb(42, 239, 190); }
.blue { background-color: rgb(0, 140, 255); }

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: -3px;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 40px;
  transition: all 1s;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li:hover {
  color: #888;
  cursor: pointer;
}


/* Hero */

#hero {
  height: 500px;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      217deg,
      rgba(255, 159, 237),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(118, 164, 255), rgba(0, 255, 0, 0) 65%),
    linear-gradient(336deg, rgba(255, 191, 138), rgba(0, 0, 255, 0) 70.71%);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 25vmin;
  line-height: 20vmin;
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #1d1d1f;
}

#hero button {
  padding: 10px 20px;
  border: none;
  background-color: #0070c9;
  color: #fff;
  font-family: 'SF Pro Text', Helvetica;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#hero button:hover {
  background-color: #0070c9;
}

/* About */

#about {
  padding: 100px 0;
}
.about-content {
  display: flex;
  flex-direction: row;
}

.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#about h2 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#about p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

#about .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#about .item {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 20px;
}

#about .item h3 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#about .item p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

#about .item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


/* Projects */



/* Experience */

#experience {
  padding: 100px 0;
  background-color: #fff;
}

#experience h2 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#experience .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

#experience .item {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 20px;
}

#experience .item h3 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#experience .item p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

#experience .item ul {
  margin-bottom: 20px;
  list-style: none;
}

#experience .item ul li {
  margin-bottom: 10px;
}

/* Blog */

#blog {
  padding: 100px 0;
  background-color: #f6f6f6;
}

#blog a {
color: #0070c9;
}

#blog a:hover {
  text-decoration: none;
}

#blog h2 {
  font-family: 'SF Pro Text', Helvetica;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#blog .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#blog .item {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

#blog .item h3 {
font-family: 'SF Pro Text', Helvetica;
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

#blog .item p {
margin-bottom: 20px;
font-size: 16px;
line-height: 1.5;
}

#blog .item img {
width: 100%;
height: auto;
margin-bottom: 20px;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.post .content {
  padding: 30px;
  width: 60%;
}

.post h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.post p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}

.post a {
  margin-top: 10px;
  color: #0070c9;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

/* Contact */

#contact {
padding: 100px 0;
background-color: #fff;
}

#contact h2 {
font-family: 'SF Pro Text', Helvetica;
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
text-align: center;
}

#contact form {
max-width: 600px;
margin: 0 auto;
}

#contact label {
font-size: 16px;
font-weight: bold;
display: block;
margin-bottom: 10px;
text-align: center;
}

#contact input[type=text],
#contact input[type=email],
#contact textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
font-size: 16px;
line-height: 1.5;
border-radius: 5px;
border: none;
background-color: #f6f6f6;
}

#contact textarea {
height: 200px;
}

#contact button[type=submit] {
  background-color: #0070c9;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#contact button[type=submit]:hover {
  background-color: #0264b5;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#projects {
  background-color: #f9f9f9;
  padding: 50px 0;
}

#projects h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      margin: 40px;
}

/* Styling for project cards */
.project-card {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

/* Styling for project card links */
.project-card a {
  color: #0070c9;
  text-decoration: none;
}

/* Styling for project card links on hover */
.project-card a:hover {
  text-decoration: none;
}

.view-live {
  display: inline-block;
  background-color: #0070c9;
  color: #fff !important;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
}

.view-live:hover {
  background-color: #005ba3;
  color: #fff;
  text-decoration: none;
}
.language {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  background-color: #444;
}

.spacer {
  flex-grow: 1;
}
.hello__div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
}
.hello__svg {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 48px;
  stroke-dasharray: 5800px;
  stroke-dashoffset: 5800px;
  animation: anim__hello linear 5s forwards;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

@keyframes anim__hello {
  0% {
    stroke-dashoffset: 5800;
  }
  25% {
    stroke-dashoffset: 5800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#blender-portfolio {
  padding: 40px 0;
  text-align: center;
  background-color: #111;
  color: #fff;
  position: relative; /* Added position relative */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  position: relative;
  width: 320px;
  height: 180px;
  margin: 10px;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  filter: brightness(70%);
}

.video-item:hover {
  transform: scale(1.05);
  filter: brightness(100%);
}

.video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.video-item:hover video {
  filter: brightness(120%);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item:hover .video-overlay {
  opacity: 1;
  pointer-events: auto;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
