body {
	background-color: #202020;
	color: #fff;
	font-family: monospace;
}

.terminal {
  background-color: #2D2D2D;
  color: #FFF;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  height: 500px;
  width: 800px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.terminal-header {
  background-color: #3E3E3E;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.terminal-title {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.buttons {
  display: flex;
}

.close-button,
.minimize-button,
.expand-button {
  background-color: #F44336;
  border-radius: 50%;
  height: 10px;
  margin-right: 5px;
  width: 10px;
  cursor: pointer;
}

.minimize-button,
.expand-button {
  background-color: #FFC107;
}

.terminal-body {
  padding: 10px;
  height: calc(100% - 30px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.terminal-output {
  margin: 0;
  padding: 0;
  list-style: none;
}

.terminal-prompt {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.prompt-symbol {
  color: #4CAF50;
  margin-right: 5px;
}

.prompt-text {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-family: 'Ubuntu Mono', monospace;
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

.prompt-text:focus {
  outline: none;
}

.prompt-text::selection {
  background-color: #81D4FA;
  color: #000;
}

.prompt-text::-moz-selection {
  background-color: #81D4FA;
  color: #000;
}
